@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

html {
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
}

/* #5330f1 12.31% */
/* #c585d8 31.82% */
/* #fa4b9a 55.82% */
/* #ff8c6c 74.32% */
/* #ff3800 95.82% */
/* 90 gradus baruun  */




.custom_shadow {
border-radius: 64px;
background: #e0a5b3;
opacity: 20%;
box-shadow:  8px 8px 100px #d59daa,
             -8px -8px 100px #ebadbc;
}
@utility gradient-text {
  @apply bg-gradient-to-r from-[#5330f1] via-[#c585d8] via-40% via-[#fa4b9a] via-60% via-[#ff8c6c] to-[#ff3800] bg-clip-text text-transparent;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

/* @utility container {
  @apply px-4 mx-auto max-w-7xl sm:px-6 lg:px-8;
} */

@utility container {
  @apply flex-grow px-6 pt-16 mx-auto max-w-7xl;
}

@utility admin-container {
  @apply w-full p-4 pt-2 space-y-5;
}

@config "../tailwind.config.js";
